*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    margin-bottom: 3rem;
   
}
.product--section {
    display: grid;
    grid-template-columns: 1fr ;
    place-items: center;
    margin-bottom: 10rem;
    
}
@media screen and (min-width: 992px) {
    .product--section {
  
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin-bottom: 5rem;
    
}
}
.product--section div {
    margin-bottom: 5rem;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
     border-radius: 10px;
     padding: 2rem 2rem;
}

img {
    width: 20rem;
    margin-bottom: 2rem;
}
button {
    padding: 1rem 3rem;
    background-color: black;
    color: white;
    border-radius: 15px;
}
button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.9);
}
ul {
    list-style: none;
    text-decoration: none;
  
    
  

    
}

@media screen and (min-width: 992px) {
    ul {
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
}
}
ul a {
    text-decoration: none;
    color: black;
}
#cookies {
    display: flex;
    justify-content: center;
}